{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Budget {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Budget title" class="form-control" value="{{ request.form['title'] }}"></input>
    </div>

    <div class="form-group">
        <label for="date">Date</label>
        <input type="date" name="date" placeholder="Budget date" class="form-control" value="{{ request.form['date'] }}"></input>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" placeholder="Budget description" class="form-control" value="{{ request.form['description'] }}"></input>
    </div>

    <div class="form-group">
        <label for="amount">Amount</label>
        <input type="text" name="amount" placeholder="Budget amount" class="form-control" value="{{ request.form['amount'] }}" pattern="^\₦\d{1,3}(,\d{3})*(\.\d+)?₦"></input>
    </div>

    <div class="form-group">
        <label for="category">Category</label>
        <input type="text" name="category" placeholder="Budget category (Income or Expense)" class="form-control" value="{{ request.form['category'] }}"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}